{% extends "main.html" %}
{% block content %}
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div class="row">
  <h2> {{item.title}}</h2>
  <label for="">Description</label> <br>
  {{item.description}}
  <br>
  category: {{category.name}}
  <a href="{{ url_for('editItem', item_title=item.title) }}"> Edit </a>
  <a href="{{ url_for('deleteItem', item_title=item.title) }}"> Delete </a>
</div>
{% endblock %}